<ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Back</ons-back-button>
      </div>
      <div class="center">Page Title</div>
      <div class="right">
          <ons-toolbar-button>
                        <ons-icon icon="ion-chevron-up" size="28px" fixed-width="false"></ons-icon>
           </ons-toolbar-button>
           <ons-toolbar-button>
                        <ons-icon icon="ion-chevron-down" size="28px" fixed-width="false"></ons-icon>
           </ons-toolbar-button>
        </div>
    </ons-toolbar>
<div class="playbookcontent" >


<!-- Identify : Gather Facts -->
<h1>Gather Facts</h1>
<h2>Use the list of questions below to gather critical details about the situation.</h2>
<p>The answers to these questions combined with the <a href="#">Issues Triggers Checklist</a> will inform the communications strategy to be deployed by determining the severity of the situation and what information is still unknown. These questions also are listed under potential scenarios.</p>

<ons-list>
<ons-list-item class="title" ng-click=" ">What Happened?</ons-list-item>
 <ons-list-item class="item-accordion">
  <ul>
    <li>What is the situation/accusation? What is the source of the information? Has it been confirmed?</li>
    <li>When/where did this take place? At a California dairy?</li>
  </ul>
</ons-list-item>
</ons-list>

<ons-list>
<ons-list-item class="title" ng-click=" ">What is the Severity of the Situation? </ons-list-item>
 <ons-list-item class="item-accordion" >
  <ul>
    <li>Who is affected/involved? Any producers, cows? Is anyone injured or dead?</li>
    <li>Are there any protests? Who is involved/organizing? What are their demands/calls to action?</li>
    <li>Has there been activity on social media? By whom (individuals, groups or both)? What is the perceived level of influence/involvement of these commenters?</li>
  </ul>
</ons-list-item>
</ons-list>

<ons-list>
<ons-list-item class="title" ng-click=" ">What Is the connection/impact to the California dairy industry?</ons-list-item>
 <ons-list-item class="item-accordion">
  <ul>
    <li>Are any California dairies involved? Which ones/how many?</li>
    <li>Are California dairies the focus of criticism? What is the source of the discussion/criticism? Where is this conversation taking place? Is it growing?</li>
  </ul>
</ons-list-item>
</ons-list>







</div>




<ons-bottom-toolbar class="bottom-bar" style="z-index: 0;"  ng-controller="contentMenuController">
<div class="left navigation-bar__left"><ons-toolbar-button ng-click="popover.show($event)">
 <ons-icon icon="ion-share" size="28px" fixed-width="false"></ons-icon>
</ons-toolbar-button></div>

<!--div class="center navigation-bar__center">
  <ons-toolbar-button>
 <ons-icon icon="ion-archive" size="28px" fixed-width="false"></ons-icon>
</ons-toolbar-button>
<ons-toolbar-button>
 <ons-icon icon="ion-trash-b" size="28px" fixed-width="false"></ons-icon>
</ons-toolbar-button></div-->

<!-- div class="right navigation-bar__right"><ons-toolbar-button >
 <ons-icon icon="ion-compose" size="28px" fixed-width="false"></ons-icon>
</ons-toolbar-button></div-->


</ons-bottom-toolbar>



  </ons-page>