<ons-page>
      <ons-toolbar>
        <div class="center">Log In</div>
      </ons-toolbar>

      <div class="login-form">

        <input type="email" class="text-input--underbar" placeholder="Email" value="">
        <input type="password" class="text-input--underbar" placeholder="Password" value="">
        <br><br>
        <ons-button modifier="large" class="login-button" ng-click="login.pushPage('home.html', { animation : 'fade' })">Log In</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="forgot-password" ng-click="login.pushPage('login_reset.html', { animation : 'slide' })">Forgot password?</ons-button>
        <br><br>
       
      </div>

<ons-bottom-toolbar>
   <ons-button modifier="large" class="login-button" ng-click="login.pushPage('contact_login.html', { animation : 'lift' })">Comms Contacts</ons-button>
</ons-bottom-toolbar>

    </ons-page>
