<ons-page >
 <ons-toolbar >
                <div class="left">
                    <ons-toolbar-button ng-click="leftMenu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Mobile RepProtect</div>

                <div class="right">

                    <ons-toolbar-button ng-click="rightMenu.toggle()">
                        <ons-icon icon="ion-email" size="28px" fixed-width="false"><div class="notification ">2</div></ons-icon>
                    </ons-toolbar-button>
         
                </div>
            </ons-toolbar>
    <div class="homecontent">





            <ons-row style="margin-top: 50px; text-align: center;">
                <ons-col>
                    <img src="http://placehold.it/300x100">
                </ons-col>


            </ons-row>

            <ons-row style="margin-top: 20px; text-align: center;">
                <ons-col>
                    Logged in as Dave Graham
                    <br>Online<br>
                    Last synced: 12/16/15 4:12pm
                </ons-col>
            </ons-row>
    
            <ons-row style="margin-top: 20px; text-align: center;">
                <ons-col>
                <div style="padding:10px;">
                    <ons-button modifier="outline large" ng-click="app.menu.setMainPage('brief_index.html', {closeMenu: true})"><ons-icon icon="ion-email" size="4x"></ons-icon><br />
                    2 Messages
                </ons-button>
                </div>
                </ons-col>
                <ons-col>
                <div style="padding:10px;">
                    <ons-button modifier="outline large" ng-click="app.menu.setMainPage('activate.html', {closeMenu: true})"><ons-icon icon="ion-alert-circled" size="4x"></ons-icon><br />
                    Activate the Team</ons-button>
                    </div>
                </ons-col>
                
            </ons-row>

            <ons-row style="padding:10px; margin-top: 25px; text-align: center;">
                <ons-col>
                    <ons-button modifier="large outline"><ons-icon icon="ion-refresh" size="3x">
                        </ons-icon></ons-button>
                    </ons-col>
            </ons-row>
            </div>
        </ons-page>
