<ons-navigator title="Settings" var="SettingsNavigator">
    <ons-page>
      <ons-toolbar>
      <div class="left">
                    <ons-toolbar-button ng-click="app.menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
        <div class="center">Settings</div>
      </ons-toolbar>

      <ons-row class="profile-wrapper">
        <ons-col width="60px" class="profile-image-wrapper">
          <img src="images/profile-image-05.png" class="profile-image">
        </ons-col>

        <ons-col>
          <div class="profile-name">Dave Graham</div>
          <div class="profile-email">davegraham@example.com</div>
        </ons-col>

      </ons-row>

      <div class="settings-header">Account</div>

      <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron"  onclick="SettingsNavigator.pushPage('settings_changepassword.html', { animation : 'slide' } )">
          Change Password
        </ons-list-item>
        <!--ons-list-item modifier="chevron" onclick="SettingsNavigator.pushPage('settings_mfa.html', { animation : 'slide' } )">
          Configure MFA
          <div class="notification menu-notification">1</div>
        </ons-list-item-->
      </ons-list>


      <div class="settings-header">App Content</div>

      <ons-list modifier="inset" class="settings-list">
        <ons-list-item>
          Update Content
        </ons-list-item>

        <ons-list-item>
          Erase Local Data
        </ons-list-item>
      </ons-list>

      <!--div class="settings-header">About</div>

      <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron" onclick="SettingsNavigator.pushPage('settings_terms.html', { animation : 'slide' } )">
          Terms of Use
        </ons-list-item>

        <ons-list-item modifier="chevron" onclick="SettingsNavigator.pushPage('settings_privacy.html', { animation : 'slide' } )">
          Privacy Policy
        </ons-list-item>
      </ons-list-->

            <!--div class="settings-header">Support</div>

      <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron" onclick="SettingsNavigator.pushPage('settings_report.html', { animation : 'slide' } )">
          Report a Problem
        </ons-list-item>
      </ons-list-->


      <br>

      <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="tappable" ng-click="app.navi.pushPage('login.html', { animation : 'fade' })">
          <ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
          Sign out
        </ons-list-item>
      </ons-list>

      <br>
      <br>


    </ons-page>
</ons-navigator>